.section {
	margin-bottom: 40px;
	padding: 0 20px;
	& > div {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		ul {
			padding: 18px;
			font-size: 0.9rem;
			li {
				&::marker {
					color: red;
				}
			}
		}
	}
}
